@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Noto Sans TC', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
    * {
        box-sizing: border-box;
    }
    img {
        display: block;
        object-fit: cover;
    }
    a:hover {
        opacity: 0.8;
    }
}

@layer components {
    .btn-primary {
        background-color: #aa0601;
        color: #fff;
    }
    .btn-primary:hover {
        background-color: #fff;
        color: #aa0601;
        transition: all 0.3s ease-in-out;
    }
    .icon {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .icon-money {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true');
        width: 100px;
        height: 100px;
    }

    .icon-clock {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true');
        width: 100px;
        height: 100px;
    }

    .icon-favorite {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true');
        width: 100px;
        height: 100px;
    }

    .icon-glass {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true');
        width: 100px;
        height: 100px;
    }
    .icon_phone {
        background-image: url('@/assets/icons/ic_phone.svg');
    }
    .icon_mail {
        background-image: url('@/assets/icons/ic_mail.svg');
    }
    .icon_facebook {
        background-image: url('@/assets/icons/ic-social_fb.png');
    }
    .icon_instagram {
        background-image: url('@/assets/icons/ic_social_ig.png');
    }
    .icon_line {
        background-image: url('@/assets/icons/ic_social_line.png');
    }
    .icon_clock {
        background-image: url('@/assets/icons/ic_clock.svg');
    }
    .icon_map {
        background-image: url('@/assets/icons/ic_map.svg');
    }
    .icon_call {
        background-image: url('@/assets/icons/phone.svg');
    }
    .icon_search {
        background-image: url('@/assets/icons/ic_search.svg');
    }
    .icon_facebook_black {
        background-image: url('@/assets/icons/logo-facebook.png');
    }
    .icon_instagram_black {
        background-image: url('@/assets/icons/logo-instagram.png');
    }
    .icon_left {
        background-image: url('@/assets/icons/ic_left.svg');
    }
    .icon_right {
        background-image: url('@/assets/icons/ic_right.svg');
    }
    .icon_tag {
        background-image: url('@/assets/icons/ic_tag.svg');
    }
}

@layer utilities {
    .shadow-card {
        box-shadow: 0px 2px 6px #00000029;
    }
}
